@model DisqussTopics.Models.ViewModels.TopicViewModel

<div class="modal fade" id="modal-edit-topic" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-white bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Topic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Edit" enctype="multipart/form-data" asp-route-slug="@Model.Topic.Slug">
                <div class="modal-body">
                    <input type="hidden" asp-for="DTUserId" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Topic.Name" class="control-label"></label>
                        <input asp-for="Topic.Name" class="form-control" />
                        <span asp-validation-for="Topic.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Topic.About" class="control-label"></label>
                        <textarea asp-for="Topic.About" rows="3" class="form-control"></textarea>
                        <span asp-validation-for="Topic.About" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IconUpload" class="control-label"></label>
                        <input asp-for="IconUpload" class="form-control" />
                        <span asp-validation-for="IconUpload" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BannerUpload" class="control-label"></label>
                        <input asp-for="BannerUpload" class="form-control" />
                        <span asp-validation-for="BannerUpload" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loading-modal">Edit Topic</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Modal for spinner-->
<partial name="_SpinnerPartial" />
