@model DisqussTopics.Models.ViewModels.TopicViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Topic</h4>

<hr />

<div class="col-sm-12 col-md-12 col-lg-8">
    <div class="card text-bg-dark">
        <div class="card-header">
            <span>Create a Topic</span>
        </div>
        <div class="card-body">
            <form asp-action="Create" enctype="multipart/form-data">
                <input type="hidden" asp-for="DTUserId" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Topic.Name" class="control-label"></label>
                    <input asp-for="Topic.Name" class="form-control" />
                    <span asp-validation-for="Topic.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Topic.About" class="control-label"></label>
                    <textarea asp-for="Topic.About" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Topic.About" class="text-danger"></span>
                </div>
                <div class="form-group text-end">
                    <button type="submit" class="btn btn-primary">Create Topic</button>
                </div>
            </form>
        </div>
    </div>
</div>

