@model DisqussTopics.Models.Rule

@{
    ViewData["Title"] = "Edit Rule";
}

<div class="col-sm-12 col-md-12 col-lg-8 mt-2">
    <div class="card text-bg-dark">
        <div class="card-header">
            <span class="h1">Edit Rule</span>
        </div>

        <div class="card-body">
            <form asp-controller="Topic" asp-action="EditRule" asp-route-slug="@Model.Topic.Slug" asp-route-id="@Model.Id">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="TopicId" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group text-end mt-2">
                    <button type="submit" class="btn btn-light">Edit Rule</button>
                </div>
            </form>
        </div>

    </div>
</div>