<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - DisqussTopics</title>

    <script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>
    <!-- Styles -->
    <link href="https://cdn.jsdelivr.net/npm/material-symbols@0.5.5/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" asp-append-version="true">
</head>

<body class="d-flex flex-column min-vh-100 bg-black">

    <!-- Desktop and tablet navbar -->
    <nav class="navbar bg-dark border-bottom box-shadow d-none d-md-block mb-2" data-bs-theme="dark">
        <div class="container-fluid d-flex">
            <div>
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">DisqussTopics</a>
            </div>
            <form class="flex-grow-1 pe-2" role="search" asp-controller="Search" asp-action="Index" method="get">
                <input class="form-control rounded-pill me-2" name="SearchString" type="search" placeholder="Search" aria-label="Search">
            </form>
            <ul class="d-flex gap-2 list-unstyled text-white mb-2">
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </nav>

    <!-- Mobile only navbar -->
    <partial name="_MobileNavbarPartial" />

    <!-- Banner for topics-->
    @RenderSection("Banner", required: false)

    <!-- Main Content -->
    <div class="container">
        <main role="main" class="pb-3">
            <!-- Toasts partial-->
            <partial name="_NotificationPartial" />
            @RenderBody()
        </main>
    </div>

    <!-- Footer Copyright -->
    <footer class="py-4 bg-dark text-white mt-auto">
        <div class="container text-center">
            <small>Copyright &copy; 2023 DisqussTopics - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></small>
        </div>
    </footer>

    <!-- Scripts -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)


</body>

</html>